.wrapper {
  height: var(--window-height);
}
.logo {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}
.icon-footer {
  z-index: 100;
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.list_card {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: open-card 0.4s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  width: 100%;
}
.title {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: 800;
  color: rgba(87, 71, 188, 1);
  padding-right: 26px;
  padding-left: 26px;
}
.header_card {
  line-height: 22px;
  font-family: "Montserrat";
  padding: 45px 0px 25px 40px;
  color: white;
  font-size: 18px;
}
.content_card {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  font-family: "Montserrat";
  padding-left: 40px;
  padding-right: 37px;
  color: white;
}
.last_heart {
  background-image: url("../../assets/images/heart_last.png");
  height: 55vh;
  width: 55vh;
  background-position: center;
  background-size: cover;
  z-index: 100;
  animation: open-last-heart 0.4s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-top: 120px;
}
.last_heart:active {
  transform: scale(0.9,0.9);
}

@keyframes open-last-heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes open-card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.swipe {
  position: absolute;
}
.background1 {
  width: 100%;
  height: calc(3 * var(--window-height) / 4);
  background-image: url("../../assets/images/game_background1.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  transform: scale(1, 1);
  top: 0;
  background-size: 120%;
}
.background1-open {
  animation: open-background1 0.4s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes open-background1 {
  from {
    transform: scale(1, 1);
  }
  to {
    height: calc(var(--window-height) / 2);
    top: -100px;
  }
}

.background1-closed {
  animation: closed-background1 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes closed-background1 {
  from {
    height: calc(var(--window-height) / 2);
    top: -100px;
  }
  to {
    height: calc(3 * var(--window-height) / 4);
    top: 0;
  }
}
.background2 {
  width: 100%;
  height: calc(3 * var(--window-height) / 4);
  background-image: url("../../assets/images/game_background2.png");
  background-position: center;
  position: absolute;
  bottom: 0;
  transform: scale(1, 1);
  background-repeat: no-repeat;
  background-size: 120%;

}
.background2-open {
  animation: open-background2 0.4s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.background2-closed {
  animation: closed-background2 0.5s ease-in-out;
  animation-fill-mode: forwards;
  background-position: center;
}

@keyframes open-background2 {
  from {
    transform: scale(1, 1);
  }
  to {
    height: calc(var(--window-height) / 2);
    bottom: -100px;
  }
}
@keyframes closed-background2 {
  from {
    height: calc(var(--window-height) / 2);
    bottom: -100px;
  }
  to {
    height: calc(3 * var(--window-height) / 4);
    bottom: 0;
  }
}

// icon add
.active-circle-add {
  transform: rotate(0deg);
  animation: active-add 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.nonactive-circle-add {
  transform: rotate(0deg);
  animation: non-active-add 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes active-add {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes non-active-add {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}
// icon reload
.active-circle-reload {
  transform: translateX(0px);
  animation: active-reload 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.nonactive-circle-reload {
  transform: translateX(-58px);
  animation: non-active-reload 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes active-reload {
  from {
    transform: translateX(-58px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes non-active-reload {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-58px);
    z-index: -1;
  }
}
// icon home
.active-circle-home {
  transform: translateX(0px);
  animation: active-home 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.nonactive-circle-home {
  transform: translateX(-110px);
  animation: non-active-home 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes active-home {
  from {
    transform: translateX(-110px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes non-active-home {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-110px);
    z-index: -1;
  }
}
// icon menu
.active-circle-menu {
  transform: translateX(0px);
  animation: active-menu 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.nonactive-circle-menu {
  transform: translateX(-165px);
  animation: non-active-menu 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes active-menu {
  from {
    transform: translateX(-165px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes non-active-menu {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-165px);
    z-index: -1;
  }
}
// icon save
.active-circle-save {
  transform: translateX(0px);
  animation: active-save 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.nonactive-circle-save {
  transform: translateX(-220px);
  animation: non-active-save 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes active-save {
  from {
    transform: translateX(-220px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes non-active-save {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-220px);
    z-index: -1;
  }
}
